<div class="ui fluid card">
            <div class="content">
<% if (theme.node_avatars && theme.node_avatars[page.category]) { %>
              <img class="ui image float left site-node site-avatar" id="pc-only" src="<%- url_for(theme.node_avatars[page.category]) %>">
<% } %>
              <div class="ui breadcrumb">
                <a class="section" href="<%- url_for() %>"><%= config.title %></a>
                <i class="right angle icon divider"></i>
                <div class="active section"><%= page.category %></div>
              </div>
<% if (theme.node_descs && theme.node_descs[page.category]) { %>
              <div class="meta" id="pc-only"><%= theme.node_descs[page.category] %></div>
<% } %>
            </div>
            <div class="content">
              <div class="meta inline paginator"><%- paginator({prev_next: false}) %></div>
              <div class="ui right floated buttons">
                <a class="tiny ui <% if (!page.prev_link) { %>disabled <% } %>button with small padding"<% if (page.prev_link) { %> href="<%- url_for(page.prev_link) %>"<% } %>><i class="chevron left icon"></i></a>
                <a class="tiny ui <% if (!page.next_link) { %>disabled <% } %>button with small padding"<% if (page.next_link) { %> href="<%- url_for(page.next_link) %>"<% } %>><i class="chevron right icon"></i></a>
              </div>
            </div>
<% page.posts.each(function(post){ %>
            <%- partial('_partial/post-item', {post: post, inCategory: true, inIndex: false}) %>
<% }) %>
            <div class="content">
              <div class="meta inline paginator"><%- paginator({prev_next: false}) %></div>
              <div class="ui right floated buttons">
                <a class="tiny ui <% if (!page.prev_link) { %>disabled <% } %>button with small padding"<% if (page.prev_link) { %> href="<%- url_for(page.prev_link) %>"<% } %>><i class="chevron left icon"></i></a>
                <a class="tiny ui <% if (!page.next_link) { %>disabled <% } %>button with small padding"<% if (page.next_link) { %> href="<%- url_for(page.next_link) %>"<% } %>><i class="chevron right icon"></i></a>
              </div>
            </div>
          </div>
