<%- partial('_partial/head-meta') %>
<body>
  <div class="ui vertical segment site-main">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="ui content container">
      <div class="ui grid">
        <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">
          <%- body %>
        </div>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
<% if (config.disqus_shortname) { %>
  <script id="dsq-count-scr" src="//<%= config.disqus_shortname %>.disqus.com/count.js" async></script>
  <script>
    var dcc = $('.disqus-comment-count');
    dcc.one('DOMNodeInserted', function(a) {
      var b = $(this).text().replace(/[^0-9]/ig, '');
      if (b !== '' && b < 1) {$(this).remove(); return;}
      $(this).text(b);
      $(this).addClass('ui blue circular label');
    });
  </script>
<% } %>
</body>
</html>
