<div class="ui fluid card">
            <div class="content">
              <div class="ui breadcrumb">
                <a class="section" href="<%- url_for() %>"><%= config.title %></a>
                <i class="right angle icon divider"></i>
                <div class="active section"><%= page.tag %></div>
              </div>
            </div>
            <div class="content">
              <div class="meta inline paginator"><%- paginator({prev_next: false}) %></div>
              <div class="ui right floated buttons">
                <a class="tiny ui <% if (!page.prev_link) { %>disabled <% } %>button with small padding"<% if (page.prev_link) { %> href="<%- url_for(page.prev_link) %>"<% } %>><i class="chevron left icon"></i></a>
                <a class="tiny ui <% if (!page.next_link) { %>disabled <% } %>button with small padding"<% if (page.next_link) { %> href="<%- url_for(page.next_link) %>"<% } %>><i class="chevron right icon"></i></a>
              </div>
            </div>
<% page.posts.each(function(post){ %>
            <%- partial('_partial/post-item', {post: post, inCategory: false, inIndex: false}) %>
<% }) %>
            <div class="content">
              <div class="meta inline paginator"><%- paginator({prev_next: false}) %></div>
              <div class="ui right floated buttons">
                <a class="tiny ui <% if (!page.prev_link) { %>disabled <% } %>button with small padding"<% if (page.prev_link) { %> href="<%- url_for(page.prev_link) %>"<% } %>><i class="chevron left icon"></i></a>
                <a class="tiny ui <% if (!page.next_link) { %>disabled <% } %>button with small padding"<% if (page.next_link) { %> href="<%- url_for(page.next_link) %>"<% } %>><i class="chevron right icon"></i></a>
              </div>
            </div>
          </div>
