<div class="ui fluid card">
            <div class="content"><%= __('widget.status') %></div>
            <div class="content" style="padding-left: 15px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                  <tr>
                    <td width="50" align="right"><%= __('widget.status.posts') %></td>
                    <td width="10"></td>
                    <td width="auto" align="left"><b><%= site.posts.length %></b></td>
                  </tr>
                  <tr height="3"></tr>
                  <tr>
                    <td width="50" align="right"><%= __('widget.status.nodes') %></td>
                    <td width="10"></td>
                    <td width="auto" align="left"><b><%= site.categories.length %></b></td>
                  </tr>
                  <tr height="3"></tr>
                  <tr>
                    <td width="50" align="right"><%= __('widget.status.tags') %></td>
                    <td width="10"></td>
                    <td width="auto" align="left"><b><%= site.tags.length %></b></td>
                  </tr>
                </tbody>
              </table>
            </div>
<% if (theme.rss) { %>
            <div class="content"><a href="<%- url_for(theme.rss) %>"><i class="circular inverted orange feed icon"></i> RSS</a></div>
<% } %>
          </div>
