<nav class="ui borderless menu site-header">
      <div class="ui container">
        <a class="item logo" href="<%- url_for() %>"<% if (theme.subtitle) { %> title="<%= theme.subtitle %>"<% } %>>
<% if (theme.logo) { %>
          <img src="<%- url_for(theme.logo) %>" alt="<%= config.title %>">
<% } else { %>
          <%= config.title %>
<% } %>
        </a>
<% if (theme.search) { %>
        <form class="item searchbar" id="pc-only" onsubmit="return startSearch();">
          <div class="ui left icon input">
            <input type="text" id="search_field">
            <i class="search icon"></i>
          </div>
        </form>
<% } %>
        <nav class="right menu" id="pc-only">
          <a class="item" href="<%- url_for() %>"><%= __('menu.index') %></a>
<% for (var i in theme.menu) { %>
          <a class="item" href="<%- url_for(theme.menu[i]) %>"><%= __('menu.' + i) %></a>
<% } %>
        </nav>
        <nav class="right menu" id="mobile-only">
          <a class="item" href="<%- url_for() %>" title="<%= __('menu.index') %>"><i class="large home icon"></i></a>
<% for (var i in theme.menu) { %>
          <a class="item" href="<%- url_for(theme.menu[i]) %>" title="<%= __('menu.' + i) %>"><i class="large <%- theme.menu_icons[i] %> icon"></i></a>
<% } %>
          <a class="item" href="<%- url_for('/more') %>" title="<%= __('menu.more') %>"><i class="ellipsis horizontal icon"></i></a>
        </nav>
      </div>
    </nav>
